/* Extension */
body {
  width: 450px;
  height: 220px;
  background: #121212;
}

.live::-webkit-scrollbar {
  width: 1em;
  background-color: #121212;
}
.live::-webkit-scrollbar-track {
}

.live::-webkit-scrollbar-thumb {
  background-color: #121212;
  outline: 1px solid #D17134;
    -webkit-box-shadow: inset 0 0 6px #D17134;
}

/* Extension Header */
h2.strims {
  color: #e45e07;
  padding-left: 15px;
}

/* Extension divider */
.page-header {
  border-bottom-color: #D17134;
}

a {
  text-decoration: none !important;
  color: #121212 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  user-select: none;
  outline: none !important;
}

/* Strim section */
.live {
  max-width: 450px;
  max-height: 290px;
  background: #121212;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

/* Strim Row/Card */
img.thumbnail {
  width:100%;
  background-color: #121212;
  border-color: #D17134;
}
.title {
  font-weight: bold;
  font-size: 15px;
  font-family: Helvetica,Arial,sans-serif;
  color: #e45d07;
}
.channel {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  font-family: Helvetica,Arial,sans-serif;
  color: #e45d07;
}
.viewers {
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif;
  color: #e45d07;
}

button {
  background-color: #121212;
  border-color: #121212;
  width:15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}

button.left {
  /* padding-left: 15px; */
}

.ggbtn {
  height: 20px;
  width: 20px;
  cursor: pointer;
  align-items : center;
  padding: 0;
}
.ggbtn > img.copy {
  /* background-color: #121212; */
  height: 15px;
}
.ggbtn > img.fav {
  /* background-color: #121212; */
  height: 15px;
}
/* #D17134 - orange */
/* #121212 - black */
